.tab{
    width: 500px;
}
.tab-nav{
    display: flex;
}
p {
    margin: 0 175px;
}
.tab-nav-item{
    margin-right: 2px;
    background: #ccc;
    color: #000;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px 5px 0 0;
}
.tab-nav-item0.is-active {
    background: #00bfff;
    color: #fff;
}
.tab-nav-item1.is-active {
    background: #ffd700;
    color: #fff;
}
.tab-nav-item2.is-active {
    background: #ff69b4;
    color: #fff;
}
.tab-nav-item3.is-active {
    background: #adff2f;
    color: #fff;
}

.tab-contents{
    border: 1px solid #ccc;
    padding: 20px;
}
.tab-contents-item{
    display: none;
}

